/*
  TODO:
  - style form to look better
*/

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --green: #1fdf64;
  --gray-body: #202020;
  --main-text-white: #fff;
  --subtext-white: #eaeadd;
}

html {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px 30px;
  color: var(--main-text-white, #fff);
  background-color: var(--black, #000);
  display: flex;
  justify-content: space-between;
}

.header-icon {
  filter: brightness(0) saturate(100%) invert(98%) sepia(25%) saturate(7239%) hue-rotate(179deg) brightness(116%) contrast(96%);
  width: 70px;
  height: 70px;
}

.header-left {
  font-size: 30px;
  font-weight: bolder;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 20px;
}

.header-right {
  padding: 10px;
}

.form-container {
  display: none;
  position: relative;
}

form {
  width: 210px;
  height: 300px;
  padding: 10px;
  display: grid;
  grid-template-rows: 0.5fr repeat(5, 1fr);
  background-color: #2d2d2d;
  border-radius: 10px;
  position: absolute;
  left: -240px;
}

input[type='text'] {
  width: 93%;
  padding: 1px 5px;
  border-radius: 5px;
}

.submit-form-button {
  padding: 2px 10px;
  font-size: 14px;
  font-weight: bolder;
  justify-self: center;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-form-button:hover {
  background-color: #8cfbb3;
}

.submit-form-button:active {
  scale: 0.9;
}

.add-song-button {
  width: 50px;
  height: 50px;
  transition: 0.2s;
}

.add-song-button:hover {
  cursor: pointer;
}

.add-song-button:active {
  scale: 0.95;
}

.main-content {
  background-color: var(--gray-body);
  flex: 1;
}

.song-container {
  padding: 20px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;
}

.song-container:hover {
  border: 1px solid gray;
}

.song-card {
  padding: 10px;
  font-size: 20px;
  justify-self: center;
  border-radius: 10px;
  color: var(--subtext-white);
  /* background-color: var(--main-text-white); */
  /* border: 1px solid var(--main-text-white); */
  box-shadow: -4px 0px 0px 0px var(--main-text-white);
}

.song-heard-switch {
  align-self: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  padding: 10px;
  color: var(--main-text-white, #fff);
  background-color: var(--black, #000);
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  place-content: center;
  align-items: center;
  gap: 20px;
}

.github-logo {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(104%) contrast(101%);
}